main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator-wrapper {
  width: 380px;
  border-radius: 25px;
  height: 80vh;
  padding: 30px;

  position: relative;
  .buttons-wrapper {
    width: 100%;
    height: 60%;
    border-radius: 25px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
    display: flex;
    gap: 25px;

    .buttons-right-side {
      flex: 2.3;
      height: 100%;
      width: 50px;
      // burda buttonlarin rengi deyismesiiii

      // background-color: #cbeaffc0;
      // background-color: #12374cc5;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // gap: 20px;
      border-radius: 30px;
      .division-btn,
      .multiplication-btn,
      .subtraction-btn,
      .addition-btn,
      .calculation-btn {
        padding: 18px;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        font-weight: 900;
        background-color: transparent;
      }
      .calculation-btn {
        // burda buttonlarin rengi deyismesiiii

        background-color: #e7f3ffb4;
      }
    }
    .buttons-left-side {
      flex: 9;
      background-color: transparent;

      .number-buttons-side {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        .special-buttons-side {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 30px;

          padding: 15px;
          .clear-btn,
          .change-btn,
          .percentage-btn {
            font-weight: 900;
            font-size: 20px;
            background-color: transparent;
          }
        }
        .box {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: space-between;
          gap: 25px;
          background-color: transparent;
        }
        .box-1,
        .box-2,
        .box-3,
        .box-4,
        .box-5,
        .box-6,
        .box-7,
        .box-8,
        .box-9,
        .box-point,
        .box-0,
        .box-00 {
          flex: 4;
          font-size: 20px;
          font-weight: 900;
          padding: 15px;
          border-radius: 50%;
          text-align: center;
          // burda buttonlarin rengi deyismesiiii
          background-color: #d6e9fc;
          background-color: #0d2337c2;
          color: white;
        }
      }
    }
  }

  .mode-changer {
    width: 130px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #a9dcfd;
    .light {
      padding: 5px 20px 5px 20px;
      border-radius: 40px;
    }
    .dark {
      padding: 5px 20px 5px 15px;
      border-radius: 40px;
      svg {
        width: 30px;
        height: 30px;
        font-weight: normal;
      }
    }
  }
  .last-opataretions-btn {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 42px;
    right: 30px;
  }

  .custom-drawer {
    width: 65%;
    height: 32vh;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 20px;

    .close-btn {
      position: fixed;
      background-color: transparent;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .clear-history-btn {
      background-color: transparent;
      position: fixed;
      margin-top: 235px;
      margin-left: 0px;
    }
    .history-items {
      padding-right: 10px;
      max-height: 230px;
      background-color: transparent;
      overflow-y: scroll;
      scroll-behavior: smooth;
      .item {
        text-align: right;
        margin-bottom: 13px;
        background-color: transparent;
        p {
          margin-bottom: 5px;
          font-size: 16px;
          background-color: transparent;
          color: orangered;
        }
        span {
          font-size: 19px;
          background-color: transparent;
        }
      }
    }
  }
  .operation-result-view-sect {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    margin-top: 15px;
    height: 190px;
    width: 100%;

    .operation-after-result {
      font-size: 17px;
      text-align: right;
      margin-bottom: 15px;
      font-weight: 500;
      background-color: transparent;
      color: #939393;
    }

    .operation-result {
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 24px;
      font-weight: 800;

      .equal-to,
      .result {
        background-color: transparent;
      }
    }
  }
}
